<base-nav></base-nav>

<section *ngIf=" !key ">
    <h3>Not a member...</h3>
    <div class="container-fluid">
        <p>You must have an account to view this content. <br /> Please
        <button class="btn btn-link btn-md" routerLink="/login">Log-in</button> or
        <button class="btn btn-link btn-md" routerLink="/register">Create an Account</button>
        if you don't have one.</p>
    </div>
</section>

<section *ngIf=" key ">
    <div class="container-fluid">
        <h3>User Settings</h3>
        <div class="container">
            <button class="btn btn-info btn-block" routerLink="/register">Update User Profile</button>
            <button class="btn btn-success btn-block" (click)="onClickResetPassword()">Reset Password</button>
            <button class="btn btn-danger btn-block" (click)="onClickDeleteUserAccount()">Delete Account</button>       
        </div>
    </div>
</section>