<base-nav></base-nav>

<section *ngIf=" !key ">
    <h3>Not a member...</h3>
    <div class="container-fluid">
        <p>You must have an account to view this content. <br /> Please
        <button class="btn btn-link btn-md" routerLink="/login">Log-in</button> or
        <button class="btn btn-link btn-md" routerLink="/register">Create an Account</button>
        if you don't have one.</p>
    </div>
</section>

<section *ngIf=" key">
    
    <h3>Dashboard</h3>
    <div class="container-fluid">
        <img class="profile" [src]="photoUrl">
        <h3>{{ user.name }}</h3>
        <p><i>{{ user.email }}</i></p>
    </div>
    <div class="container-fluid form-group">
        <textarea class="form-control form-control-sm" [(ngModel)]="post.content" type="text" name="content"></textarea>
        <div class="post-photo">
            <img [src]="postPhotoUrl">
            <span class="camera fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-plus fa-stack-1x"></i>
            </span>
            <input type="file" name="photo" #file (change)="onChangeFile( $event )" accept="image/*">
            <progress *ngIf="progress" class="progressbar" value="{{ progress_value }}" max="100">
            </progress>
        </div><br><br><br><br>
        <button class="btn btn-primary btn-md btn-pos-right" (click)="onClickSubmitPost()">
            <i class="fa fa-paper-plane fa-lg"></i> Post
        </button>
    </div>
    <div class="container-fluid card-block">
        <ul class="list-group list-group-flush" *ngFor="let post of list_posts, let id = index">
        <forum-post-page 
            [post] = "post"
            (delete) = "onClickDeletePost( post, id )"
            (update) = "onClickUpdatePost( post )"
        ></forum-post-page>
        </ul>
    </div>
</section>
