button.btn-pos-right{
    // float: right;
    margin-bottom: 10px;
}


.profile{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 100px;
    max-width: 5em;
    max-height: 5em;
}

forum-post-page{
    margin-top:10px;
}