<base-nav></base-nav>

<section *ngIf=" !key ">
    <h3>Not a member...</h3>
    <div class="container-fluid">
        <p>You must have an account to view this content. <br /> Please
        <button class="btn btn-link btn-md" routerLink="/login">Log-in</button> or
        <button class="btn btn-link btn-md" routerLink="/register">Create an Account</button>
        if you don't have one.</p>
    </div>
</section>

<section *ngIf=" key">
    
    <h3>Dashboard</h3>
    <div class="container-fluid">
        <span>
            <img class="profile" [src]="photoUrl">
            <h3>{{ user.name }}</h3>
            <p><i>{{ user.email }}</i></p>
        </span>
        <span class="form-group">
            <textarea class="form-control form-control-sm" [(ngModel)]="post.content" type="text" name="content"></textarea>
            <button class="btn btn-primary btn-sm btn-pos-right" (click)="onClickSubmitPost()">
                <i class="fa fa-paper-plane fa-lg"></i> Post
            </button> 
        </span>
    </div>
    <div class="container-fluid card-block">
        <ul class="list-group list-group-flush" *ngFor="let post of list_posts, let id = index">
        <forum-post-page 
            [post] = "post"
            (delete) = "onClickDeletePost( post, id )"
            (update) = "onClickUpdatePost( post )"
        ></forum-post-page>
        </ul>
    </div>
</section>
