<base-nav></base-nav>

<section *ngIf=" !key ">
    <h3>Not a member...</h3>
    <div class="container-fluid">
        <p>You must have an account to view this content. <br /> Please
        <button class="btn btn-link btn-md" routerLink="/login">Log-in</button> or
        <button class="btn btn-link btn-md" routerLink="/register">Create an Account</button>
        if you don't have one.</p>
    </div>
</section>

<section *ngIf=" key ">
    
    <h3>Dashboard</h3>
    <div class="container">
        <span>
            <img src="" alt="profile_pic">
            <b>{{ user.name }}</b>
            <p>{{ user.email }}</p>
        </span>
    </div>
    <hr />

    <forum-post-page></forum-post-page>
    
</section>
